.catalog-container {
    padding: 30px;
    background-color: #12121c;
    min-height: 100vh;
    color: white;
}

.catalog-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 25px;
    font-weight: bold;
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    justify-items: center;
}